.board {
    padding: 1em 2em;
    flex-grow: 1;
    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    overflow: auto;
}

.board__header {
    /* position: sticky; */
    /* left: 0; */
}

.board__header [name=project-name] {
    font-weight: 600;
    font-size: 26px;
}

.board__controls {
    display: flex;
    justify-content: space-between;
}

.board__controls > div {
    display: flex;
    gap: 2em;
}

.board__body {
    flex-grow: 1;

    display: flex;
    gap: 2em;

    margin-top: 2em;

    overflow: auto;
}

.project-stage {
    background-color: white;
    min-width: 30em;
    border: 1px solid lightgray;

    box-shadow: 0 0 2px 1px lightgray;
    padding: .5em 1em;
    display: flex;
    flex-direction: column;
}

.project-stage .project-stage__caption {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: .5em;
}

.project-stage .project-stage__tasks {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;

    height: 0; /* used for scrolling*/

    overflow-y: auto;
}