.task-creation-form{
    background-color: #fff;
    padding: 0 3em;
    width: 70em;
}

.task-description {
    width: 100%;
}
.task-creation__header {
    display: flex;
    justify-content: space-between;
}
.trash_icon {
    color: red;
    font-size: 1.2em;
}
.task-group {
    display: flex;
    justify-content: space-between;
}

.task-creation-form > div,
.task-time > div {
    margin-bottom: 1em;
}

.list-items {
    color: var(--gray-font-color);
    font-size: .9em;
}

.label {
    font-weight: 500;
    font-size: 1.1rem;
}

.btn {
    text-align: center;
    width: 100%;
}
.css-t3ipsp-control,
.css-t3ipsp-control:hover {
    border-color: #000000 !important;
}
.task-text {
    font-weight: bold;
}



