.task_info {
    background-color: var(--gray-color);
    padding: 10px 18px;
    width: 450px;
    font-size: 18px;
    border-radius: 20px;
    color: var(--gray-font-color);

}
.task_state,
.task_title,
.comments_info,
.creation_info {
    display: flex;
    align-items: center;

}

.task_state {
    font-weight: 600;
}
.task_state > .select.undefined {
    width: 100%;
}

.creation_info {
    justify-content: end;
}

.time,
.count {
    padding-right: 10px;
}
