.task_info{
    background-color: var(--gray-color);
    padding: 10px 18px;
    width: 450px;
    min-height: 170px;
    font-size: 18px;
    border-radius: 20px;
    color: var(--gray-font-color);

}
.task_state, .task_title, .comments_info, .creation_info{
    display: flex;
    align-items: center;

}
.task_state{
    background-color: var(--task-state-color);
    border-radius: 8px;
    font-weight: 600;

}
.creation_info{
    justify-content: end;
}
.comments_info{

}
.time, .count{
    padding-right: 10px;
}
.icon_account{
    font-size: 28px;
}
.form-select{
    border: none !important;
    outline: none ;
    box-shadow: none !important;
    background-color: var(--task-state-color) !important;
    font-weight: 600 !important;
    color: var(--gray-font-color) !important;

    padding: .300rem  !important;
}
