.project-details-block {
    width: 70em;
    background-color: var(--modal-background-color);
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.project-header {
    display: flex;
    justify-content: space-between;
}

.project-header > div:first-child {
    display: flex;
    flex-direction: column;
}

.project-dates {
    display: flex;
    gap: .5em;
}
.project-dates > div {
    display: flex;
    flex-direction: column;
}


.project-info {
    width: 100%;
    margin-top: .5em;
}

.project-details-block__main {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.project-details__tasks {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.button-block {
    text-align: center;
}
.project-save {
    display: flex;
    justify-content: center;
}