.project-details-block {
    width: 70em;
    background-color: var(--modal-background-color);
    padding: 2em;
}

.project-text {
    border: 1px solid #535353;
    padding: 5px;
    border-radius: 4px;
}

.project-name {
    width: 40%;
    font-size: 30px;
    font-weight: 700;
    color: #535353;
}

.project-info {
    margin-top: 10px;
    font-size: 14px;
    color: #676767;
}

.project-details-block__main {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.project-details__tasks {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button-block {
    text-align: center;
}