.user-list-item {
    /*display: flex;*/

    background-color: #fff;
    border-radius: 10px;
    padding: 1em .5em .4em;
}
.user-list-item > div > div{
    display: flex;
}
.user-list-item_info {
    display: flex;
    justify-content: space-between;
}
.hidden-control {
    display: flex;
    justify-content: center;
}
.icon-account {
    font-size: 4em;
}
.user-detail {
    padding: 0 1em;
}
.user-detail > label {
    font-weight: 600;
}
.user-detail > p {
    margin: .1rem;
    color: var(--gray-color-text);
    font-size: .9rem;
    font-style: italic;
}
.user-manager {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-manager > span{
    padding: 0 1em;
    color: var(--purple-color-font);
    font-weight: 500;
}

