:root{
  --navigation-color: #dee3ef;
  --navigation-active-color:#BFC7DC;
  
  --purple-color: #4946C8;
  --background-color: #EEEFF2;
  --modal-background-color: white;

  --gray-color: #E4E4E4;
  --gray-font-color: #545151;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  height: 100vh;
}

#root,
.App {
  height: 100%;
}

.App:has( > main) {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.icon_gear,
.icon_account {
  --icon-size: 28px;
  font-size: var(--icon-size);
}

.icon_arrow {
  --icon-size: 20px;
  font-size: var(--icon-size);
}