main {
    background-color: var(--background-color);
}
.users__body {
    margin: 2em 0;
}
.users__body > label {
    font-weight: 600;
    font-size: 26px;
}
.users__body > div {
    width: 35em;
}
.person_input {
    width: 100%;
}
.users-list {
    margin-top: 1em;
    width: 35em;
}
.users-list > div {
    margin-bottom: 1em;
}